# General files
HELP.md
.gradle
build/
db
.tokens
.jqwik-database
ngrinder-controller

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar

# Gradle build directories
!**/src/main/**/build/
!**/src/test/**/build/

# Source code output directories
src/main/generated/
src/main/resources/credentials.json
src/main/resources/application-prod.yml
src/main/resources/application-test.yml
src/main/resources/application-loadtest.yml
src/main/java/com/fixadate/global/util/converter/Key.java

# Temporary files
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/
src/main/resources/fixadate_firebase_service_key.json
